<?xml version="1.0"?>
<module name="4i.language.python.django" branch="master" description="Primitive 4i module to generate Django project">
  <module name="4i.language.python" required_branch="master"/>

  <require name="docutils" version="0.12"/>
  <require name="django" version="#(django_version)"/>
  <require name="django-select-multiple-field" version="0.3.1"/>

  <resource url="https://github.com/kelvinwong-ca/django-select-multiple-field"/>
  
  <todo>integrate with django-rest-swagger</todo>

  <!-- <gsl from="build__sh.gsl" output="build.sh" binary="True"/> -->
  <gsl from="manage__py.gsl" output="manage.py" binary="True"/>
  <dir name="#(name)">
    <output name="__init__"/>
    <gsl source_path="mainapp/" from="urls__py.gsl" output="urls.py"/>
    <gsl source_path="mainapp/" from="wsgi__py.gsl" output="wsgi.py"/>
    <gsl source_path="mainapp/" from="settings__py.gsl" output="settings.py"/>
  </dir>
  
  <node name="project" pre_combine="project_pre_combine.gsl">
    <attribute name="language" required="True"/>
    <attribute name="python_version" required="True"/>
    <attribute name="django_version" required="True"/>
    <attribute name="admin_username" required="True"/>
    <attribute name="admin_password" required="True"/>
    <attribute name="admin_email" required="True"/>
    <attribute name="host"/>
    <attribute name="port"/>
    <attribute name="secret_key"/>
    <node name="language" number="*">
      <attribute name="code" required="True"/>
      <attribute name="name" required="True"/>
    </node> <!-- !language -->
    <node name="app" number="*" pre_combine="app_pre_combine.gsl">
      <attribute name="name" required="True"/>
      <attribute name="description"/>
      <node name="model" number="*" pre="model_pre.gsl">
	<attribute name="name" required="True"/>
	<attribute name="description"/>
	<attribute name="display"/>
	<attribute name="plural"/>
	<attribute name="annotate"/>
	<attribute name="plural"/>
	<attribute name="progressbar" type="boolean"/>
	<node name="field" number="*">
	  <attribute name="type" required="True"/>
	  <attribute name="name"/>
	  <attribute name="description"/>
	  <attribute name="model"/>
	  <attribute name="unique" type="boolean"/>
	  <attribute name="searchable"/>
	  <attribute name="ordering"/>
	  <attribute name="default"/>
	  <attribute name="truncate"/>
	  <attribute name="nodata" type="boolean"/>
	  <attribute name="list_display" type="boolean"/>
	  <attribute name="list_filter" type="boolean"/>
	  <attribute name="autonowadd" type="boolean"/>
	  <attribute name="autonow" type="boolean"/>
	  <node name="choice" number="*">
	    <attribute name="key" required="True"/>
	    <attribute name="value" required="True"/>
	    <attribute name="description"/>
	  </node> <!-- !choice -->
	</node> <!-- !field -->
      </node> <!-- !model -->
    </node> <!-- !app -->
  </node> <!-- !project -->
</module>
